# Python
_pycache_/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
*.egg-info/

# Flask
instance/
.webassets-cache

# Base de datos
*.db
*.sqlite
*.sql

# Configuración
.env
config.py

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db
